<nav>
    <li><a href="/homepage">Home</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/createPost">Create Post</a></li>
</nav>
<h1>Brendan's Reddit Clone</h1>