<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h2>You Can Create a Post Below!</h2>
    <div class = "createpostStyle">
    <form action="/createpost" method="POST">
      <div>
        <input type="text" name="url" placeholder="Enter URL">
      </div>
      <div>
        <input type="text" name="title" placeholder="Enter title">
      </div>
      <button type="submit" class="mainButton">Post dat, bro!</button>
    </form>
    </div>
  </main>

<footer>
  <% include ../partials/footer %>
</footer>
    
</body>
</html>