<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h2>Please Login Below!</h2>
    <div class = "loginStyle">
    <form action="/login" method="POST">
      <div>
        <input type="text" name="un" placeholder="Enter your username">
      </div>
      <div>
        <input type="password" name="pw" placeholder="Enter your password">
      </div>
      <button type="submit" class="mainButton">Login!</button>
    </form>
    </div>
  </main>

<footer>
  <% include ../partials/footer %>
</footer>
    
</body>
</html>