<form action="/login" method="POST">
      <div>
        <input type="text" name="un" placeholder="Enter your username">
      </div>
      <div>
        <input type="text" name="pw" placeholder="Enter your password">
      </div>
      <button type="submit">Login!</button>
    </form>