body {
    background-color: #ffcccc;
}

.allPosts li {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
}

.leftBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-basis: 15%;
    align-items: center;
    justify-content: center;
}

.rightBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-basis: 85%;
    align-items: center;
}

.createdInfo {
    display: flex;
    flex-direction: row;
}

.createdInfo p {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    text-align: center;
}

input {
    width: 20%;
    margin: 2px;
}

.signupStyle {
    padding: 40px;
    text-align: center;
}

.loginStyle {
    padding: 40px;
    text-align: center;
}

.createpostStyle {
    padding: 40px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 14px;
}

.mainButton {
    border: 1px solid #000;
    background-color: #66ffcc;
}